[Unit]
Description=IMAP notifier using IDLE, golang version.
After=network.target

[Service]
ExecStart=goimapnotify -conf ${XDG_CONFIG_HOME}/easymail/%I/notify.conf
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
